/* Reset and base */
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #2c0000;
  color: #f19b9b;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  font-size: 16px;
}

.container {
  width: 90%;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  background: #3b0000;
  box-shadow: 0 0 20px #6e0202;
}

header h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  text-shadow: 0px 0px 8px #cf0202;
  margin-bottom: 0;
  border-bottom: 3px solid #cf0202;
  display: inline-block;
  padding-bottom: 6px;
}

header p {
  font-weight: 300;
  margin-top: 4px;
  color: #cc9f9f;
}

section.script-loadstring {
  background: #250000;
  margin-top: 20px;
  border-radius: 14px;
  padding: 15px;
  box-shadow: 0 0 10px #980000;
  color: #f78c8c;
}

section.script-loadstring h2 {
  text-align: left;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 4px;
  color: #ff5757;
}

section.script-loadstring h2 span {
  font-weight: 900;
  margin-right: 8px;
}

.shield-icon {
  font-size: 14px;
  margin-right: 6px;
  vertical-align: middle;
}

section.script-loadstring p {
  text-align: left;
  font-size: 0.9rem;
  margin-top: 6px;
  color: #e29797;
  border-bottom: 1px solid #440000;
  padding-bottom: 6px;
}

textarea#script-url {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background-color: #2a0000;
  color: #ff8383;
  font-family: monospace;
  font-weight: 500;
  resize: none;
  height: 3rem;
}

button#copy-btn {
  margin-top: 12px;
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #d32727 0%, #ff4747 100%);
  border: none;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
  user-select: none;
}

button#copy-btn:hover {
  background: linear-gradient(90deg, #ff4747 0%, #d32727 100%);
}

.info {
  margin-top: 10px;
  color: #b98383;
  font-size: 0.85rem;
}

footer {
  margin-top: 40px;
  font-size: 0.9rem;
  color: #b98383;
}

.social-buttons {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-buttons a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 18px;
  border-radius: 12px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  user-select: none;
  box-shadow: 0 0 10px #720000;
  transition: all 0.3s ease;
}

.discord-btn {
  background-color: #5865f2;
  box-shadow: 0 0 15px #5865f2;
}

.discord-btn:hover {
  background-color: #4752c4;
  box-shadow: 0 0 25px #4752c4;
}

.youtube-btn {
  background-color: #c4302b;
  box-shadow: 0 0 15px #c4302b;
}

.youtube-btn:hover {
  background-color: #9d2723;
  box-shadow: 0 0 25px #9d2723;
}

.social-buttons img {
  height: 20px;
  width: 20px;
}
